.page-wrap {
  background-color: #fff;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;

  .item-left {
    flex: 1;
    padding: 0 15px;

    .title {
      font-size: 34px;
      margin-bottom: 12px;
      font-family: 'Poppins', sans-serif;
      color: #282828;
      font-weight: 600;
    }

    span {
      font-size: 14px;
      font-family: 'Rubik', sans-serif;
      color: #888;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .item-middle {
    flex: 2;
    padding: 0 15px;

    .text {
      color: #494949;
      font-size: 14px;
      font-family: 'Rubik', sans-serif;
      margin-bottom: 10px;
    }
  }
}

.section6 {
  display: flex;
  flex-wrap: nowrap;

  .item-wrapper {
    flex: 1;
    padding: 0 15px;

    .item {
      background-color: #f9f9f9;
      padding: 30px;
      position: relative;

      .number {
        color: #ebebeb;
        font: bold 100px "Poppins", sans-serif;
        position: absolute;
        line-height: 1;
        top: -45px;
        left: 35px;
        font-size: 90px;
      }

      .title {
        font-family: 'Poppins',sans-serif;
        color: #282828;
        font-weight: 700;
        margin-bottom: 10px;
        padding-top: 20px;
        font-size: 24px;
      }

      .description {
        font-family: 'Rubik',sans-serif;
        color: #494949;
        font-size: 14px;
        line-height: 1.7;
      }
    }
  }
}

.text {
  color: #494949;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 10px;

  strong {
    font-weight: 700;
  }
}

.scroll-top {
  display: none;
  position: fixed;
  text-align: center;
  height: 50px;
  width: 50px;
  right: 40px;
  bottom: 100px;
  color: #888;
  line-height: 45px;
  border: 1px solid #888;
  border-radius: 100%;
  z-index: 1000;

  img {
    width: 11px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 767px) {
  .section {
    display: block;

    .item-left {
      margin-bottom: 60px;
    }

    .item-right {
      display: none;
    }
  }

  .section6 {
    display: block;

    .item-wrapper {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
