.about-us-page {
  background-color: #fff;

  .page-container {
    margin: 0 15px;
  }

  .page-content {
    padding: 0 15px;
  }

  .page-wrap {
    margin-left: 80px;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 80px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    background-color: #333;
    color: #bbb;
    z-index: 60;

    .menu {
      padding: 25px 5px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      cursor: pointer;

      &:hover {
        color: #666;
      }
    }
  }

  .open-page {
    position: relative;
    font-family: 'Rubik', sans-serif;
    margin-left: 80px;

    img.open-image {
      height: 100vh;
      width: 100%;
    }

    .section-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, .5);

      .header-wrap {
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,0.08);
        height: 80px;

        .brand img {
          max-height: 20px;
        }
      }

      .content-wrap {
        height: calc(100vh - 150px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        .content {
          width: 60%;
          margin: 0 auto;
          padding: 30px 0;

          .tag {
            border-radius: 50px;
            padding: 9px 15px 7px;
            border: 1px solid #fff;
            font-weight: 500;
            font-size: 11px;
          }

          .title {
            font-size: 62px;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 30px;
            font-weight: 500;
          }

          .info-list {
            display: flex;
            align-items: center;

            .list-item {
              margin-right: 40px;

              &:last-child {
                margin-right: 0;
              }

              .top {
                padding-bottom: 8px;
                color: #888;
                border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                font-family: 'Poppins', sans-serif;
                font-size: 11px;
                font-weight: 600;
              }

              .bottom {
                padding: 5px 0 10px;
                font-size: 14px;
                font-family: 'Rubik', sans-serif;
              }
            }
          }
        }
      }
    }

    .scroll {
      position: absolute;
      bottom: 85px;
      font-size: 16px;
      color: #fff;
      left: 20%;
      transform: rotate(-90deg) translateY(-50%) translateX(100%);

      &:after {
        content: '';
        background: rgba(255, 255, 255, 0.5);
        width: 40px;
        height: 2px;
        position: absolute;
        right: 140%;
        top: 45%;
      }
    }
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;

    .item-left {
      flex: 1;
      padding: 0 15px;

      .title {
        font-size: 34px;
        margin-bottom: 12px;
        font-family: 'Poppins', sans-serif;
        color: #282828;
        font-weight: 600;
      }

      span {
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        color: #888;
        font-weight: 500;
        text-decoration: underline;
      }
    }

    .item-middle {
      flex: 2;
      padding: 0 15px;

      .text {
        color: #494949;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 10px;
      }
    }
  }

  .section1 {
    .item-middle {
      .text1 {
        margin-bottom: 40px;
      }

      .accordion {
        .card {
          border-left: none;
          border-right: none;
          border-radius: 0;

          .card-header {
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            color: #282828;
            font-weight: 600;
            padding: 15px 15px 15px 0;
            cursor: pointer;

            .icon:before {
              content: '\f067';
              font-family: FontAwesome, sans-serif;
              font-size: 24px;
              line-height: 1;
              font-weight: 400;

              &:hover:before {
                color: #00f;
              }
            }

            &[aria-expanded="true"] .icon {
              color: #00f;

              &:before {
                content: '\f068';
              }
            }
          }

          .card-body {
            padding: 20px 0 10px;
          }
        }
      }
    }
  }

  .section2 {
    .img-wrap {
      position: relative;

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;

        .btn-play {
          background-color: #fff;
          padding: 10px;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          font-size: 20px;
          margin-bottom: 20px;
        }

        .text-play {
          font-size: 14px;
          font-family: 'Poppins', sans-serif;
          color: #fff;
          font-weight: 600;
          visibility: hidden;
        }
      }

      &:hover {
        .overlay {
          background-color: rgba(255, 255, 255, .5);

          .text-play {
            visibility: visible;
          }
        }
      }
    }
  }

  .section4 {
    .owl-carousel {
      .owl-dots {
        .owl-dot {
          position: relative;
          width: 16px;
          height: 16px;
          margin: 0 5px;
          border-radius: 50px;
          border: 1px solid transparent;
          display: inline-block;
          cursor: pointer;
          opacity: 1;
          transition: .2s ease-in-out;
          color: #282828;

          span {
            width: 6px;
            height: 6px;
            margin: 4px;
            background: #282828;
          }

          &.active {
            border-color: #282828;
          }

          &:focus {
            outline: none;
          }

          &:hover {
            border-color: #869791;

            span {
              background: #869791;
            }
          }
        }
      }
    }
  }
}
